* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009EE8;
    --second-color: #CFEFFF;
    --font-color: #4D4D4D;
    --error-color: #EF5C53;
    --modal-color: #FFF3C4;
    --modal-button-color: #FFCF30;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

@media screen and (max-width: 1080px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 715px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }
}